@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,500&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --background: #232829
}
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  animation: blink 2s infinite;
}

body {
  background: var(--background);
  font-family: "Montserrat", sans-serif;

}
.Raleway{
  font-family: "Raleway", sans-serif;
}
.Montserrat{
  font-family: "Montserrat", sans-serif;
}
